body {
    padding: 0px;
    margin: 0px;
    color: white;
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    transform: translateY(2px);
}

#main_area {
    position: absolute;
    background-color: #444;
    width: 70%;
    height: calc(100% - 1px);
}

#side_bar {
    position: absolute;
    background-color: #666;
    width: 30%;
    height: 100%;
    left: 70%;
    user-select: none;
}

#node_tag_set_container {
    position: absolute;
    background-color: #555;
    width: 100%;
    height: 35%;
}

.tag_option:hover {
    background-color: #888;
}

.tag_option label {
    border: 1px solid #0000;
}

.tag_option label:hover {
    border: 1px solid #fff;
}

#edge_tag_set_container {
    position: absolute;
    background-color: #505050;
    width: 100%;
    height: 35%;
    top: 35%;
}

#tool_set_container {
    position: absolute;
    background-color: #454545;
    width: 100%;
    height: 30%;
    top: 70%;
}

#tool_set_container #tool_tip {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0%;
    text-align: center;
    /* background-color: #445; */
    overflow: auto;
}